# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.lck

*.bak*

Conception/EAI.vpp.bak*

/RedacChefEJB/target/
/RechercheArchive/target/
/RechercheArchiveEJB/target/
/RechercheArchiveREST/target/
/RechercheArchive/RechercheArchive-ejb/target/
/RechercheArchive/RechercheArchive-web/target/
/RechercheArchive/RechercheArchive-ear/target/
/RedacChef/RedacChef-ejb/target/
/RedacChef/RedacChef-web/target/
/RedacChef/RedacChef-ear/target/
/AppJournaliste/target/